전체 */
body {
  margin: 0;
  /* background: #f0f2f5; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

.post-form {
  display: flex;
  align-items: stretch;
  gap: 12px;
  padding: 16px;
  border-bottom: 1px solid #eee;
}


.post-input {
  flex: 1;
  padding: 0 14px;

  border: 1px solid #ccc;
  border-radius: 10px;

  font-size: 15px;

  height: 48px;           
  box-sizing: border-box;
  appearance: none;
}

.post-button {
  min-width: 60px;
  height: 48px;          

  border: none;
  border-radius: 10px;

  background-color: #5865f2;
  color: #fff;

  font-size: 15px;
  font-weight: 600;

  display: flex;          
  align-items: center;
  justify-content: center;

  cursor: pointer;
  appearance: none;
}

/* .post-item {
  background: #fff;
  padding: 16px;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.04);
  margin-bottom: 16px;
}

.post-item .meta {
  font-size: 13px;
  color: #666;
}

.post-item .content {
  margin: 12px 0;
  font-size: 15px;
  line-height: 1.5;
}

.post-item img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 10px;
}

.actions {
  display: flex;
  gap: 12px;
}

.actions button {
  border: none;
  background: #f0f2f5;
  padding: 6px 12px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 13px;
}

.actions button:hover {
  background: #e4e6eb;
}

.actions button:last-child {
  color: #e53935;
} */
